<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CRUDS_XML</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Create_records</servlet-name>
    <servlet-class>org.kwatra.java.cruds.Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create_records</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Read_recods</servlet-name>
    <servlet-class>org.kwatra.java.cruds.Read</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Read_recods</servlet-name>
    <url-pattern>/Read</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update_recods</servlet-name>
    <servlet-class>org.kwatra.java.cruds.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_recods</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete_recods</servlet-name>
    <servlet-class>org.kwatra.java.cruds.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_recods</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>org.kwatra.java.cookie.CookieV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>org.kwatra.java.session.SessionData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/SessionData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session_check</servlet-name>
    <servlet-class>org.kwatra.java.session.Tocheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session_check</servlet-name>
    <url-pattern>/Tocheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session_destroy</servlet-name>
    <servlet-class>org.kwatra.java.session.Destroy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session_destroy</servlet-name>
    <url-pattern>/Destroy</url-pattern>
  </servlet-mapping>
</web-app>